#image-placeholder {
    min-width: 1fr;
    max-height: 100%;
    width: 300px;
    object-fit: cover;
    grid-row: span 2;
}

@media (min-width: 480px) {
    #manga-main-page {
        margin: 1rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-rows: 1fr;
        grid-template-columns: 300px 1fr;
    }

    #description {
        vertical-align: top;
    }

    #other-info {
        vertical-align: bottom;
    }

    /*#namePlaceholder {
        vertical-align: top;
    }
    
    #authorPlaceholder {
        vertical-align: top;
    }
    
    #descriptionPlaceholder {
        vertical-align: top;
    }*/

    #open-table-of-contents {
        display: block;
        object-fit: cover;
    }

    #table-of-contents {
        grid-column: span 2;
    }
}

@media only screen and (max-width: 480px) {
    #manga-main-page {
        margin: 1rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}

/*#tableOfContents {
    display: table-cell;
}
*/