.main-page-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #fffcf2;
    width: 200px;
}

.main-page-card img {
    max-width: 200px;
}

.main-page-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#main-page {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    text-align: left;
    max-width: 1280px;
}

.main-page-row {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 10px;
}

/* All elements after .main-page-row */
.main-page-row ~ * {
    margin-top: 100px;
}

.main-page-row-head {
    
}

.main-page-row-content {
    display: grid;

    grid-gap: 10px;
    /*flex-direction: row;
    display: grid;*/
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}