.NavbarComponent {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: burlywood;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.NavbarComponent #search {
    margin-left: auto;
}

.NavbarComponent #login {
    margin-left: 50px;
}

nav a {
    color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    color: white;
    background-color: burlywood;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    margin-top: 18pt;
    right: 0;
    border-radius: 0pt 0pt 0pt 5pt;
    display: grid;
    position: absolute;
    background-color: burlywood;
    min-width: 200px;
    z-index: 1;
}

.dropdown .dropdown-content {
    display: block;
}

form {
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
}

#site-name {
    grid-column: 1 / 2;
}

#search > form {
    max-width: 200px;
}

input, button {
    grid-column: 2 / 3;
}