.navbar-component {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: burlywood;
    justify-content: space-around;
    align-items: center;
    color: white;
}

nav a {
    color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-content.notifications {
    background-color: burlywood;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    box-shadow: none;
    margin-top: 15px;
    right: 0;
}

.notifications-header {
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notifications-header span {
    color: white;
}

.notifications-header * {
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.notifications-list {
    max-height: 400px;
    background-color: burlywood;
    border-top: none;
    padding: 5px;
    overflow-y: auto;
}

.notifications-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/*.notifications-list * {
    color: black;
    display: flex;
}*/

.notification {
    padding-top: 5px;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.notification a {
    padding-left: 25px;
    text-align: left;
}

.notification:hover {
    background-color: rgb(235, 195, 144);
}

.notification-author {
    color: black;
}

.notification-message {
    padding-left: 0;
    color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.view-all {
    color: rgb(255, 230, 197);
}

.view-all:hover {
    text-decoration: underline rgb(255, 230, 197);
}
